<hr>
<div>
  <h3>{{ note.purpose }}</h3>
  <p> Donated by: <strong>{{ note.content }} {{ note.lname }}</strong> <br>  Amount donated: <strong>Php {{ note.amount }}.00</strong> </p> 
 
  <button class="btn btn-info btn-sm" (click)='addHeartToNote(note.hearts)'>
    Like <i class="fa fa-thumbs-up"></i>
  </button>
  <button class="btn btn-danger btn-sm" (click)='deleteNote(note?.id)'>Delete
    <i class="fa fa-trash"></i>
  </button>
  <p>This donation has been liked {{ note.hearts || 0 }} times.</p>