<h1>Donations</h1>
<p>Please fill up the donation form in order to donate money.</p>

<div class="box">
    <input [(ngModel)]="content" placeholder="First Name" class="input" style="width:49%;">
    <input [(ngModel)]="lname" placeholder="Last Name" class="input" style="width:50%; float:right;">
    <input [(ngModel)]="amount" placeholder="Amount" class="input" style="width:24%; float:right;">
    <input [(ngModel)]="purpose" placeholder="Purpose" class="input" style="width:75%;">
    
</div>


<button class="btn btn-success btn-sm" (click)="createNote()" [disabled]="content?.length < 2 || content?.length > 200">
  Donate
</button>

<div *ngFor="let note of notes | async">
  <note-detail [note]="note"></note-detail>
</div>
