<h4 [ngClass]="{ 'strike-out': !item.active }" style="font-weight:bold">
  {{ item.title }}
</h4>

<div class="card-content">
  Going: {{ item.body }} <br>
</div>

<div class="card-content">
    Interested:<br>
</div>
<br>

  <span class="btn btn-sm btn-success card-footer-item" (click)='deleteItem()'>Going</span>
  <span class="btn btn-sm btn-info card-footer-item" (click)='deleteItem()'>Interested</span>
  <span class="btn btn-sm btn-danger card-footer-item" (click)='deleteItem()'>Delete</span>
