<div class="box" style="height: 219px;" >
  <div *ngIf="auth.user | async; then authenticated else guest">
          <!-- template will replace this div -->
  </div>
</div>

<!-- User NOT logged in -->
<ng-template #guest class="box">
  <h3>Hi Generous!</h3>
  <p class="card-text">Login to Donate.</p>
  <br>
  <br>
  <button class="btn btn-info btn-sm" style="width:150px;" routerLink="/login">Login</button>
</ng-template>

<!-- User logged in -->
 <ng-template #authenticated>
  <div *ngIf="auth.user | async as user">
    <h4>Welcome, {{ user.displayName }}</h4>
    <p class="text-truncate">UID: {{ user.uid }}</p>
    <br>
    <button class="btn btn-danger btn-sm" style="width: 150px;" (click)="logout()">Logout</button>
  </div>
</ng-template>
