<h3>New Event Form</h3>

<input placeholder="Name" class="input"
[(ngModel)]="item.title"
required minlength="2" maxlength="50"
#title='ngModel' autofocus>

<input placeholder="Venue" class="input"
required minlength="2" maxlength="50">

<input placeholder="Organization"  style="width: 49%;" class="input"
required minlength="2" maxlength="23">

<input placeholder="Date" style="width: 49%; float:right; " class="input" type="date"
required minlength="2" maxlength="23">

<!-- ADD MORE FIELDS AND DISPLAY DONATED MONEY AMOUNT -->

<div *ngIf="title.dirty">
  <span *ngIf='title.errors; then errors else valid'>template renders here...</span>
</div>

<button class="button is-primary" (click)='createItem()' [disabled]="!title.valid">Create</button>

<ng-template #valid>
  <p class="help is-success">looks good!</p>
</ng-template>

<ng-template #errors>
  <p class="help is-danger">form contains errors!</p>
</ng-template>
