<h3>About Us</h3>
<hr>

<div class="box">
  <h3>Giving is Caring</h3>
  A web application designed to provide support in events, occasions and organizations through
  donations. The team built the application to enhance the process of donations and other charity works by providing
  an efficient way for donors to find groups and events that need their support. Not to mention, we also give credits
  to donors who are generous.
</div>

<div class="box">
  <br>
  <h3>Development Team</h3>
  <b>
  
  <strong>Project Manager:</strong> &nbsp; Menard Gardose
  <br>
  <br>
  <strong>Backend Developers:</strong>
  <br>
  Alvin Yanson <br>
  Erul Ubas <br>
  Brix Nessia <br>
  Vincent Suyo 
  
  <br>
  <br>

  <strong>Designers:</strong>
  <br>
  Patrick Legislador <br>
  Neal Rubiato <br>
  Daniel Molabin <br>
  Joshua Tueres <br>
  Glenn Nieles

  <br>
  <br>

  <strong>Documentation:</strong>
  <br>
  Miriam Gayoba <br>
  Mary Ann Mansan <br>
  Reyn Villahermosa <br>
  Dawn Jaudines <br>

</b>
</div>